{% extends "base.html" %}

{% block title %} {{ product.name }} {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div id="carouselInd" class="carousel slide mb-4" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in product.images.all %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <img src="{{ image.image.url }}" class="d-block w-100" style="max-width: 1080px; margin: auto;" alt="{{ product.name }}">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselInd" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carouselInd" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>

    <div class="col-12 col-md-8 mx-auto my-3">
        <h1 class="product_title text-center font-weight-bold">{{ product.name }}</h1>
        <h3 class="text-center font-italic text-success mb-4">{{ product.price }}₽</h3>
        
        <p class="text-justify product_text text-center">{{ product.description }}</p>

        <form action="{% url 'cart:add_product_cart' product.id %}" method="post" class="text-center mt-4">
            {{ cart_add_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Добавить товар в корзину</button>
        </form>
    </div>
</div>
{% endblock content %}