{% extends "base.html" %}

{% block title %} {{ product.name }} {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div id="carouselInd" class="carousel slide mb-4" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in product.images.all %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <img src="{{ image.image.url }}" class="d-block w-100" style="max-width: 1080px; margin: auto;" alt="{{ product.name }}">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselInd" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#carouselInd" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>

    <div class="col-12 col-md-8 mx-auto my-3 text-center">
        <h1 class="product_title font-weight-bold">{{ product.name }}</h1>
        <h3 class="font-italic text-success mb-4">{{ product.price }}₽</h3>
        
        <p class="text-justify product_text">{{ product.description }}</p>

        <form action="{% url 'cart:add_product_cart' product.id %}" method="post" class="mt-4">
            {{ cart_add_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Добавить товар в корзину</button>
        </form>
    </div>

    {% with ratings.count as total_rating %}
        <h4 class="text-center my-4">{{ total_rating }} Отзывов</h4>

        {% if not total_rating %}

            <h4>Будьте первым кто оставит отзыв!</h4>

        {% endif %}
    
    {% endwith %}

    <div class="row">
        {% for rating in ratings %}
        <div class="col-md-6 mb-4">
            <div class="card border-light shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ rating.user.first_name }} {{ rating.user.last_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ rating.created }}</h6>
                    <p class="card-text">{{ rating.text }}</p>
                    <p class="card-text">
                        <strong>Рейтинг:</strong> 
                        {% for i in "12345"|slice:":rating.stars"|make_list %}
                            {% if forloop.counter <= rating.stars %}
                                ⭐
                            {% else %}
                                ☆
                            {% endif %}
                        {% empty %}
                            Нет рейтинга
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Rating Form -->
    <div class="my-5">
        {% include "product/includes/rating_form.html" %}
    </div>

</div>

{% endblock content %}