{% extends "base.html" %}

{% block title %} Личный кабинет {% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{% if user.profiles.image %}{{ user.profiles.image.url }}{% endif %}" class="card-img" alt="Фото профиля" style="object-fit: cover; height: 100%; width: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="card-text">Электронная почта: {{ user.email }}</p>
                    <p class="card-text">Телефон: {{user.phone_number}}</p>
                    <a href="{% url 'profile_edit' %}" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
        </div>
    </div>

    {% if unpaid_orders %}
        <h2 class="text-center mb-4">Неоплаченные заказы</h2>
        <ul class="list-group">
            {% for order in unpaid_orders %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Заказ #{{ order.id }}
                    <a href="{% url 'payment:process' %}" class="btn btn-success btn-sm">Оплатить</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">У вас нет неоплаченных заказов.</p>
    {% endif %}

    <h2 class="text-center mb-4">История заказов</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID заказа</th>
                <th scope="col">Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for order in history_orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            {% if market_shop %}
                <a href="{% url "shop:product_store_detail" market_shop.id %}" class="btn btn-info btn-block">Магазин: {{ market_shop.name }}</a>
            {% else %}
                <a href="{% url "shop:create_market" %}" class="btn btn-warning btn-block">Создать магазин</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
