<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="#">Avto Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'shop:product' %}">Главная <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Категории
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                        <a class="dropdown-item text-light" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url "logout" %}" tabindex="-1" aria-disabled="true">Выйти</a>
              </li>
          </ul>
          <li class="nav-item active">
                  <a class="nav-link" href="{% url 'shop:create_market' %}">Создать <span class="sr-only">(current)</span></a>
              </li>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                      <i class="fas fa-shopping-cart"></i> Корзина
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<style>
  .navbar-nav .nav-link {
      transition: color 0.3s ease;
  }

  .navbar-nav .nav-link:hover {
      color: #ffc107; /* Change color on hover */
  }

  .dropdown-menu .dropdown-item:hover {
      background-color: #343a40; /* Darken dropdown item on hover */
  }

  .dropdown-menu .dropdown-item:focus {
      background-color: #495057; /* Highlight on focus */
  }
</style>