.carousel {
    position: relative;
    max-width: 1080px; /* Set the maximum width of the carousel */
    margin: auto; /* Center the carousel horizontally */
}

.carousel-item {
    position: relative; /* Ensure the item is positioned relative for absolute children */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%; /* Adjust width as needed */
    height: 100%;
    background-color: transparent; /* Make the controls transparent */
    border: none; /* Remove the border */
    z-index: 1; /* Ensure controls are above the images */
}

.carousel-control-prev {
    left: 10px; /* Adjust as needed */
}

.carousel-control-next {
    right: 10px; /* Adjust as needed */
}

.form-group {
    margin-bottom: 1rem; /* Отступ между элементами формы */
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%; /* Ширина полей ввода */
    padding: 0.375rem 0.75rem; /* Внутренние отступы */
    border: 1px solid #ced4da; /* Цвет границы */
    border-radius: 0.25rem; /* Закругленные углы */
    box-shadow: none; /* Убираем тень */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #80bdff; /* Цвет границы при фокусе */
    outline: 0; /* Убираем стандартное выделение */
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Тень при фокусе */
}